/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #d2cfcf;
}

/* Header Styling */
.header-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 20px;
    background-color: #4e0505; /* maroon red background */
    color: white;
}

h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



.logo {
    max-width: 120px;
    height: auto;
}

nav ul.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.nav-list li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
}

nav ul.nav-list li a:hover {
    color: #007BFF;
}

/* Hero Section */
#hero {
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
}

#hero-img {
    max-width: 100%;
    height: auto;
}

.home-title {
    font-size: 2.5em;
    color: #333;
}

/* History Section */
#history {
    padding: 40px;
    background-color: #f7f7f7;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

#history img {
    grid-column: 2 / 3;
    max-width: 100%;
    height: auto;
}

/* Adventures Section */
#adventures {
    padding: 40px;
    background-color: #eaf0f6;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.adventure-gallery figure {
    margin: 0;
    text-align: center;
}

.adventure-gallery img {
    max-width: 100%;
    height: auto;
}

.adventure-gallery figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Aside Styles */
aside {
    width: 300px; /* Adjust based on design */
    margin: 20px;
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add padding */
    background-color: #3a3a3a; /* Background color */
    color: #fdfdfd; /* Text color */
}

aside img {
    width: 200px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #4e0505;
    color: #fff;
    margin-top: 20px; /* Margin above footer */
    border-top: 1px solid #ccc; /* Top border */
    text-align: center; /* Center text */
}

footer p {
    margin: 0;
}

footer .social {
    display: flex;
    gap: 15px;
}

footer .social img {
    width: 30px;
    height: 30px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Paragraphs */
p {
    padding: 0; /* Zero padding */
}

/* Main Images */
main img {
    width: 200px; /* Adjust to desired width */
    height: auto; /* Maintain aspect ratio */
}
